/*normalizacao do site*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* remover decoração do diretorios*/
a{
    text-decoration: none;
    color: inherit;
}

/*configuracao texto em geral*/


h2{
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: 8px 8px 8px 0px;
    margin: 8px 8px 8px 20px;
}

h3,
h4{
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 5px 5px 5px 0px;
    margin: 5px 5px 5px 20px;
}


/*Nav-bar de lista */
nav{
    margin-left: auto;
    margin-bottom: 20px;
    float: right;
    
}
nav ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}
nav ul li{
    display: inline;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #ccc;

}

nav ul li:hover{
    background-color: #ccc;
    border-color: black;
    text-decoration: underline;
}

/*imagem GLASS*/

div#titulo_glass{
    margin-top: 20px;
    height: 60px;
    background-image: url(../_imagens/glass-logo-peq.jpg);
    background-repeat: no-repeat;
}

/*imagens gerais*/
figure#imagem_geral{
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: center;
}
figure#imagem_geral img{
    position: relative;
    border-radius: 20px;
    width: 100%;
}

/*imagem oculos*/
figure#oculos{
    position: absolute; 
    top: 50px; 
    right: 0; 
    margin-top: 140px; 
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
figure#oculos img{
    position: relative;
    border-radius: 20px;
    width: 100%;
}

/*legenda imagens*/
.legenda figcaption{
    opacity: 0;
    top: 0px;
    border-radius: 20px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color:white;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.legenda figcaption:hover{
    opacity: 1;
}

/*artigos*/

.artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.artigos article{
    width: 30%;
    border-bottom: 2px solid #ccc;
}

.artigos article{
    margin-bottom: 25px;
}

section{
    padding: 20px;
}

/*footer*/

footer{
    border-top: 2px solid #ccc;
}

footer div{
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
footer h3{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0px 0px 5px 0px;
}

footer h3 a{
    text-decoration: none;
    color: inherit;
}